# 1.Write a python program to display all the header tags from wikipedia.org.

In [1]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\users\ajita\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\ajita\anaconda3\lib\site-packages (from bs4) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\ajita\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in c:\users\ajita\anaconda3\lib\site-packages (2.26.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\ajita\anaconda3\lib\site-packages (from requests) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ajita\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\ajita\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ajita\anaconda3\lib\site-packages (from requests) (3.2)

In [2]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [3]:
page_1 = requests.get('https://en.wikipedia.org/wiki/Main_Page')

In [4]:
page_1

In [5]:
soup= BeautifulSoup(page_1.content)

In [7]:
Header_tags = []
for header in soup.find_all(["h1","h2","h3","h4","h5","h6"]):
    Header_tags.append(header.name+header.text.replace("\n"," "))
Header_tags

['h1Main Page',
 'h1Welcome to Wikipedia',
 "h2From today's featured article",
 'h2Did you know\xa0...',
 'h2In the news',
 'h2On this day',
 "h2Today's featured picture",
 'h2Other areas of Wikipedia',
 "h2Wikipedia's sister projects",
 'h2Wikipedia languages',
 'h2Navigation menu',
 'h3 Personal tools ',
 'h3 Namespaces ',
 'h3 Views ',
 'h3 Search ',
 'h3 Navigation ',
 'h3 Contribute ',
 'h3 Tools ',
 'h3 Print/export ',
 'h3 In other projects ',
 'h3 Languages ']

# 2. Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame.

In [19]:
url= "https://www.imdb.com/list/ls091520106/"
page_2 = requests.get(url)
page_2

In [20]:
soup = BeautifulSoup(page_2.content)

In [21]:
Name = soup.find_all("h3", class_="lister-item-header")

In [23]:
Movies_Name = []

for i in Name:
    for j in i.find_all("a"):
        Movies_Name.append(j.text)

In [24]:
Rating = soup.find_all("div",class_="ipl-rating-star small")

In [25]:
IMDB_Rating = []
for i in Rating:
      IMDB_Rating.append(float(i.text))

In [26]:
Year = soup.find_all("span",class_="lister-item-year text-muted unbold")

In [27]:
year_of_release = []
for k in year:
    year_of_release.append(k.text)

In [30]:
IMDB_top_100=pd.DataFrame({})
IMDB_top_100['Movies Name']=Movies_Name
IMDB_top_100['Year of release']=year_of_release
IMDB_top_100['IMDB Rating']=IMDB_Rating
IMDB_top_100

                            Movies Name Year of release  IMDB Rating
0              The Shawshank Redemption          (1994)          9.3
1                         The Godfather          (1972)          9.2
2                 The Godfather Part II          (1974)          9.0
3                       The Dark Knight          (2008)          9.0
4                          12 Angry Men          (1957)          9.0
..                                  ...             ...          ...
95                   North by Northwest          (1959)          8.3
96                   A Clockwork Orange          (1971)          8.3
97                               Snatch          (2000)          8.3
98  Le fabuleux destin d'Amélie Poulain          (2001)          8.3
99                              The Kid          (1921)          8.3

[100 rows x 3 columns]

# 3. Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

In [31]:
url = "https://www.imdb.com/list/ls009997493/"
page_3 = requests.get(url)
page_3

In [32]:
soup = BeautifulSoup(page_3.content)

In [33]:
name = soup.find_all("h3", class_="lister-item-header")

In [36]:
movies_name = []
for i in name:
    for j in i.find_all("a"):
        movies_name.append(j.text)

In [37]:
Year = soup3.find_all("span",class_="lister-item-year text-muted unbold")

In [38]:
year_of_release = []
for k in year:
    a=k.text.replace('(','')
    year_of_release.append(a.replace(')',''))

In [39]:
rating = soup.find_all("div",class_="ipl-rating-star small")

In [40]:
IMDB_rating = []
for i in rating:
      IMDB_rating.append(float(i.text))

In [41]:
indian_top_100=pd.DataFrame({})
indian_top_100['Movies Name']=movies_name
indian_top_100['Year of release']=year_of_release
indian_top_100['IMDB rating']=IMDB_rating
indian_top_100

                            Movies Name Year of release  IMDB rating
0              The Shawshank Redemption            1994          9.3
1                         The Godfather            1972          9.2
2                 The Godfather Part II            1974          9.0
3                       The Dark Knight            2008          9.0
4                          12 Angry Men            1957          9.0
..                                  ...             ...          ...
95                   North by Northwest            1959          8.3
96                   A Clockwork Orange            1971          8.3
97                               Snatch            2000          8.3
98  Le fabuleux destin d'Amélie Poulain            2001          8.3
99                              The Kid            1921          8.3

[100 rows x 3 columns]

# 4.Write s python program to display list of respected former presidents of India(i.e. Name , Term of office) from https://presidentofindia.nic.in/former-presidents.htm

In [63]:
url = "https://presidentofindia.nic.in/former-presidents.htm"
page_4 = requests.get(url)
page_4

In [92]:
soup = BeautifulSoup(page_4.content)

In [93]:
name = soup.find_all("h3")

In [94]:
presidents_name = []
for i in name:
    presidents_name.append(i.text.split("(")[0])

In [95]:
Year = soup.find_all("div",class_="presidentListing")

In [103]:
Term_of_office = []
for i in soup.find_all('div', class_="presidentListing"):
    cells = i.find_all('p')
    Term_of_office.append(cells[0].text.strip().replace('Term of Office:',''))

In [105]:
Former_president=pd.DataFrame({})
Former_president["Presidents Name"]=presidents_name
Former_president["Term of office"]=Term_of_office
Former_president

,Presidents Name,Term of office
0,Shri Ram Nath Kovind,"25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee,"25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil,"25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam,"25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan,"25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma,"25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman,"25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh,"25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy,"25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed,"24 August, 1974 to 11 February, 1977"
10,Shri Varahagiri Venkata Giri,"3 May, 1969 to 20 July, 1969 and 24 August, 1..."
11,Dr. Zakir Husain,"13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan,"13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad,"26 January, 1950 to 13 May, 1962"

# 5. Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [106]:
url="https://www.icc-cricket.com/rankings/mens/team-rankings/odi"
page_5a= requests.get(url)
page_5a

In [107]:
soup=BeautifulSoup(page_5a.content)

In [109]:
team=soup.find_all("span",class_="u-hide-phablet")

In [110]:
team_name=[] 
for i in team:
    team_name.append(i.text)

In [112]:

matches=[] 
for i in soup.find_all("td",class_='rankings-block__banner--matches'):
    matches.append(i.text)

In [114]:
points=[]
for i in soup.find_all("td",class_='rankings-block__banner--points'):
    points.append(i.text)

In [116]:
ratings=[]
for i in soup.find_all("td",class_='rankings-block__banner--rating u-text-right'):
    ratings.append(i.text.replace("\n",""))

In [118]:
new_list=[]
for i in soup.find_all("td",class_='table-body__cell u-center-text'):
    new_list.append(i.text)

In [119]:
for i in soup.find_all("td",class_='table-body__cell u-text-right rating'):
    ratings.append(i.text)

In [120]:
for i in range(0,len(new_list)-1,2):
    matches.append(new_list[i]) 
    points.append(new_list[i+1])

In [121]:
icc=pd.DataFrame({})
icc['Team name']=team_name[:10]
icc['Matches']=matches[:10]
icc['Points']=points[:10]
icc['Ratings']=ratings[:10]
icc

,Team name,Matches,Points,Ratings
0,New Zealand,16,"2,051",128 ...
1,England,27,"3,226",119
2,India,28,"3,085",110
3,Pakistan,19,"2,005",106
4,Australia,23,"2,325",101
5,South Africa,21,"2,111",101
6,Bangladesh,27,"2,639",98
7,Sri Lanka,29,"2,658",92
8,West Indies,38,"2,621",69
9,Afghanistan,18,"1,238",69

b) Top 10 ODI Batsmen along with the records of their team and rating.

In [122]:
url="https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting"
page_5b= requests.get(url)
page_5b

In [123]:
soup=BeautifulSoup(page_5b.content)

In [126]:
players=[]
for i in soup.find_all("div",class_="rankings-block__banner--name-large"):
    players.append(i.text.replace("\n",""))
for i in soup.find_all("td",class_="table-body__cell rankings-table__name name"):
    players.append(i.text.replace("\n",""))

In [128]:
teams=[]
for i in soup.find_all("div",class_="rankings-block__banner--nationality"):
    teams.append(i.text.replace("\n",""))
for i in soup.find_all("span",class_="table-body__logo-text"):
    teams.append(i.text)

In [129]:
ratings=[]
for i in soup.find_all("div",class_="rankings-block__banner--rating"):
    ratings.append(i.text)
for i in soup.find_all("td",class_="table-body__cell rating"):
    ratings.append(i.text)

In [130]:
Batsmen=pd.DataFrame({})
Batsmen['Players']=players[:10]
Batsmen['Teams']=teams[:10]
Batsmen['Ratings']=ratings[:10]
Batsmen

                 Players                    Teams Ratings
0             Babar Azam  PAK                         892
1            Imam-ul-Haq                      PAK     815
2  Rassie van der Dussen                       SA     789
3        Quinton de Kock                       SA     784
4            Virat Kohli                      IND     767
5           Rohit Sharma                      IND     763
6            Ross Taylor                       NZ     744
7           David Warner                      AUS     737
8         Jonny Bairstow                      ENG     732
9            Aaron Finch                      AUS     715

c) Top 10 ODI bowlers along with the records of their team and rating.

In [131]:
url="https://www.icc-cricket.com/rankings/mens/player-rankings/test/bowling"
page_5c= requests.get(url)
page_5c

In [132]:
soup=BeautifulSoup(page_5c.content)

In [133]:
players=[]
for i in soup.find_all("div",class_="rankings-block__banner--name-large"):  #first place player
    players.append(i.text.replace("\n",""))

for i in soup.find_all("td",class_="table-body__cell rankings-table__name name"):# for other players
    players.append(i.text.replace("\n",""))

In [134]:
teams=[]
for i in soup.find_all("div",class_="rankings-block__banner--nationality"): #first place player
    teams.append(i.text.replace("\n",""))
    
for i in soup.find_all("span",class_="table-body__logo-text"):# for other players
    teams.append(i.text)

In [135]:
ratings=[]
for i in soup.find_all("div",class_="rankings-block__banner--rating"): #first place player
    ratings.append(i.text)
    
for i in soup.find_all("td",class_="table-body__cell rating"):# for other players
     ratings.append(i.text)

In [136]:
bowlers=pd.DataFrame({})
bowlers['Players']=players[:10]
bowlers['Teams']=teams[:10]
bowlers['Ratings']=ratings[:10]
bowlers

               Players                    Teams Ratings
0          Pat Cummins  AUS                         891
1  Ravichandran Ashwin                      IND     842
2       Shaheen Afridi                      PAK     828
3       Jasprit Bumrah                      IND     828
4        Kagiso Rabada                       SA     818
5       James Anderson                      ENG     811
6        Kyle Jamieson                       NZ     788
7          Kemar Roach                       WI     756
8          Neil Wagner                       NZ     747
9       Mitchell Starc                      AUS     739

# 6. Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

In [137]:
url="https://www.icc-cricket.com/rankings/womens/team-rankings/odi"
page_6a=requests.get(url)
page_6a

In [138]:
soup=BeautifulSoup(page_6a.content)

In [139]:
team=[]
for i in soup.find_all("span",class_="u-hide-phablet"):
    team.append(i.text)

In [140]:
matches=[]
for i in soup.find_all("td",class_="rankings-block__banner--matches"):
    matches.append(i.text)

In [141]:
points=[]
for i in soup.find_all("td",class_="rankings-block__banner--points"):
    points.append(i.text)

In [145]:
ratings=[]
for i in soup.find_all("td",class_="rankings-block__banner--rating u-text-right"):
    ratings.append(i.text.replace("\n",""))
    
for i in soup.find_all("td",class_="table-body__cell u-text-right rating"):
    ratings.append(i.text)

In [146]:
new_list=[]
for i in soup.find_all("td",class_="table-body__cell u-center-text"):
    new_list.append(i.text)

In [147]:
for i in range(0,len(new_list)-1,2):
    matches.append(new_list[i])
    points.append(new_list[i+1])

In [148]:
icc=pd.DataFrame({})
icc['Team']=team[:10]
icc['Matches']=matches[:10]
icc['Points']=points[:10]
icc['Ratings']=ratings[:10]
icc

,Team,Matches,Points,Ratings
0,Australia,29,"4,837",167 ...
1,England,33,"4,046",123
2,South Africa,35,"4,157",119
3,India,32,"3,219",101
4,New Zealand,31,"3,019",97
5,West Indies,30,"2,768",92
6,Bangladesh,12,930,78
7,Pakistan,30,"1,962",65
8,Sri Lanka,11,495,45
9,Ireland,8,351,44

b) Top 10 women’s ODI Batting players along with the records of their team and rating.

In [149]:
url="https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting"
page_6b=requests.get(url)
page_6b

In [150]:
soup=BeautifulSoup(page_6b.content)

In [153]:
players=[]
for i in soup.find_all("div",class_="rankings-block__banner--name-large"):
    players.append(i.text.replace("\n",""))
for i in soup.find_all("td",class_="table-body__cell rankings-table__name name"):
    players.append(i.text.replace("\n",""))

In [156]:
team=[]
for i in soup.find_all("div",class_="rankings-block__banner--nationality"):
    team.append(i.text.replace("\n",""))
for i in soup.find_all("span",class_="table-body__logo-text"):
    team.append(i.text)

In [160]:
ratings=[]
for i in soup.find_all("div",class_="rankings-block__banner--rating"):
    ratings.append(i.text)
for i in soup.find_all("td",class_="table-body__cell rating"):
    ratings.append(i.text)

In [161]:
Women_batting=pd.DataFrame({})
Women_batting['Players']=players[:10]
Women_batting['Team']=team[:10]
Women_batting['Ratings']=ratings[:10]
Women_batting

               Players                     Team Ratings
0         Alyssa Healy  AUS                         785
1          Beth Mooney                      AUS     749
2       Natalie Sciver                      ENG     747
3      Laura Wolvaardt                       SA     732
4          Meg Lanning                      AUS     710
5       Rachael Haynes                      AUS     701
6    Amy Satterthwaite                       NZ     681
7       Tammy Beaumont                      ENG     667
8  Chamari Athapaththu                       SL     655
9      Smriti Mandhana                      IND     649

C) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [162]:
url="https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder"
page_6c=requests.get(url)
page_6c

In [163]:
soup=BeautifulSoup(page_6c.content)

In [164]:
players=[]
for i in soup.find_all("div",class_="rankings-block__banner--name-large"):
    players.append(i.text.replace("\n",""))
for i in soup.find_all("td",class_="table-body__cell rankings-table__name name"):
    players.append(i.text.replace("\n",""))

In [165]:
team=[]
for i in soup.find_all("div",class_="rankings-block__banner--nationality"):
    team.append(i.text.replace("\n",""))
for i in soup.find_all("span",class_="table-body__logo-text"):
    team.append(i.text)

In [166]:
ratings=[]
for i in soup.find_all("div",class_="rankings-block__banner--rating"):
    ratings.append(i.text)
for i in soup.find_all("td",class_="table-body__cell rating"):
    ratings.append(i.text)

In [167]:
Women_all_rounder=pd.DataFrame({})
Women_all_rounder['Players']=players[:10]
Women_all_rounder['Country']=team[:10]
Women_all_rounder['Ratings']=ratings[:10]
Women_all_rounder

            Players                  Country Ratings
0    Natalie Sciver  ENG                         379
1      Ellyse Perry                      AUS     374
2    Marizanne Kapp                       SA     349
3   Hayley Matthews                       WI     339
4       Amelia Kerr                       NZ     336
5  Ashleigh Gardner                      AUS     270
6     Deepti Sharma                      IND     252
7     Jess Jonassen                      AUS     246
8   Katherine Brunt                      ENG     220
9   Stafanie Taylor                       WI     207

# 7. Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world :

A) Headline

B) Time

C) News Link

In [168]:
url="https://www.cnbc.com/world/?region=world"
page_7=requests.get(url)
page_7

In [169]:
soup=BeautifulSoup(page_7.content)

In [170]:
Headline=[]
for i in soup.find_all("div",class_="LatestNews-container"):
    for j in i.find_all("a",class_="LatestNews-headline"):
        Headline.append(j.text)

In [171]:
Time=[]
for i in soup.find_all("span",class_="LatestNews-wrapper"):
    Time.append(i.text)

In [174]:
News_link=[]
for i in soup.find_all("a",class_="LatestNews-headline"):
    News_link.append(i.get("href"))

In [175]:
News=pd.DataFrame({})
News['Headline']=Headline
News['Time']=Time
News['News_link']=News_link
News

,Headline,Time,News_link
0,The best and worst places to live in the world...,41 Min Ago,https://www.cnbc.com/2022/08/07/global-liveabi...
1,"George Clooney had tequila, Ryan Reynolds gin....",3 Hours Ago,https://www.cnbc.com/2022/08/07/george-clooney...
2,9 corporate leaders share their best hacks for...,3 Hours Ago,https://www.cnbc.com/2022/08/07/9-busy-people-...
3,Bethenny Frankel: The most successful people h...,4 Hours Ago,https://www.cnbc.com/2022/08/07/bethenny-frank...
4,The 7 states with the least credit card debt,4 Hours Ago,https://www.cnbc.com/2022/08/07/states-with-th...
5,"Albemarle beats estimates on lithium prices, C...",4 Hours Ago,https://www.cnbc.com/2022/08/07/lithium-is-key...
6,These stocks are best positioned to weather a ...,4 Hours Ago,https://www.cnbc.com/2022/08/07/these-stocks-a...
7,Strong returns are hard to find in 2022. Three...,5 Hours Ago,https://www.cnbc.com/2022/08/07/strong-returns...
8,Some consumers are cutting back on restaurant ...,5 Hours Ago,https://www.cnbc.com/2022/08/07/consumers-are-...
9,Climate change is making some homes to costly ...,5 Hours Ago,https://www.cnbc.com/2022/08/07/climate-change...
10,Why creating a horror movie haven on Netflix m...,6 Hours Ago,https://www.cnbc.com/2022/08/07/netflix-may-be...
11,Elon Musk challenges Twitter CEO Parag Agrawal...,20 Hours Ago,https://www.cnbc.com/2022/08/06/elon-musk-chal...
12,Large Indiana employers Eli Lilly and Cummins ...,21 Hours Ago,https://www.cnbc.com/2022/08/06/eli-lilly-says...
13,"Czech prince raises $300,000 in NFTs to restor...",23 Hours Ago,https://www.cnbc.com/2022/08/06/27-year-old-bo...
14,President Joe Biden tests negative for Covid-1...,24 Hours Ago,https://www.cnbc.com/2022/08/06/president-joe-...
15,Fed Governor Bowman sees 'similarly sized' int...,"August 6, 2022",https://www.cnbc.com/2022/08/06/fed-governor-b...
16,This 39-year-old makes $160K/month in passive ...,"August 6, 2022",https://www.cnbc.com/2022/08/06/this-39-year-o...
17,Most of Buffett’s portfolio is tied up in just...,"August 6, 2022",https://www.cnbc.com/2022/08/06/most-of-warren...
18,5 tips for cutting down on credit card costs a...,"August 6, 2022",https://www.cnbc.com/2022/08/06/how-to-curb-cr...
19,This 41-year-old left the U.S. for Bangkok and...,"August 6, 2022",https://www.cnbc.com/2022/08/06/this-digital-n...
20,It's time to cash in on these attractive stock...,"August 6, 2022",https://www.cnbc.com/2022/08/06/goldman-analys...
21,Here's why getting fired from a job you hate c...,"August 6, 2022",https://www.cnbc.com/2022/08/06/therapist-gett...
22,'Stressed out' STD clinics struggle with surge...,"August 6, 2022",https://www.cnbc.com/2022/08/06/monkeypox-std-...
23,Want to build generational wealth? Avoid these...,"August 6, 2022",https://www.cnbc.com/2022/08/06/building-gener...
24,A.I.-powered drug hunters are nearing a pivota...,"August 6, 2022",https://www.cnbc.com/2022/08/06/ai-powered-dru...
25,The 2022 stock market doesn't have to repeat —...,"August 6, 2022",https://www.cnbc.com/2022/08/06/the-2022-stock...
26,"Berkshire reports operating earnings surge, bu...","August 6, 2022",https://www.cnbc.com/2022/08/06/berkshire-hath...
27,Why the best states for business may be the wo...,"August 6, 2022",https://www.cnbc.com/2022/08/06/state-worker-p...
28,"Higher prices, skimpier portions and apps — ho...","August 6, 2022",https://www.cnbc.com/2022/08/06/higher-prices-...
29,What to know before 'unretiring' if you're on ...,"August 6, 2022",https://www.cnbc.com/2022/08/06/social-securit...

# 8. Write a python program to scrape the details of most downloaded articles from AI in last 90 days.

https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles Scrape below mentioned details :

i) Paper Title

ii) Authors

iii) Published Date

iv) Paper URL

In [176]:
url="https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles"
page_8=requests.get(url)
page_8

In [177]:
soup=BeautifulSoup(page_8.content)

In [181]:
Paper_Title=[]
for i in soup.find_all("a",class_="sc-5smygv-0 nrDZj"):
    Paper_Title.append(i.text)

In [182]:
Authors=[]
for i in soup.find_all("span",class_="sc-1w3fpd7-0 pgLAT"):
    Authors.append(i.text)

In [183]:
Published_Date=[]
for i in soup.find_all("span",class_="sc-1thf9ly-2 bKddwo"):
     Published_Date.append(i.text)

In [184]:
Paper_URL=[]
for i in soup.find_all("a",class_="sc-5smygv-0 nrDZj"):
    Paper_URL.append(i.get("href"))

In [185]:
Articles=pd.DataFrame({})
Articles['Paper Title']=Paper_Title
Articles['Authors']=Authors
Articles['Published Date']=Published_Date
Articles['Paper URL']=Paper_URL
Articles

,Paper Title,Authors,Published Date,Paper URL
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

# 9.Write a python program to scrape mentioned details from dineout.co.in :

i) Restaurant name

ii) Cuisine

iii) Location

iv) Ratings

v) Image URL

In [186]:
url="https://www.dineout.co.in/delhi-restaurants/buffet-special"
page_9=requests.get(url)
page_9

In [187]:
soup=BeautifulSoup(page_9.content)

In [188]:
Restaurant_name=[]
for i in soup.find_all('a',class_="restnt-name ellipsis"):
    Restaurant_name.append(i.text)

In [192]:
Cuisine=[]
for i in soup.find_all("span",class_="double-line-ellipsis"):
            Cuisine.append(i.text.split('|')[1])

In [194]:
Location=[]
for i in soup.find_all("div",class_="restnt-loc ellipsis"):
    Location.append(i.text)

In [195]:
Ratings=[]
for i in soup.find_all("div",class_="restnt-rating rating-4"):
    Ratings.append(i.text)

In [196]:

Image_URL=[]
for i in soup.find_all("img",class_="no-img"):
    Image_URL.append(i.get("data-src"))

In [197]:
Dineout=pd.DataFrame({})
Dineout['Restaurant name']=Restaurant_name
Dineout['Cuisine']=Cuisine
Dineout['Location']=Location
Dineout['Ratings']=Ratings
Dineout['Image URL']=Image_URL
Dineout

,Restaurant name,Cuisine,Location,Ratings,Image URL
0,Castle Barbeque,"Chinese, North Indian","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"North Indian, Asian, Italian","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Castle Barbeque,"Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,Cafe Knosh,"Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",4,https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
8,Indian Grill Room,"North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...

# 10. Write a python program to scrape the details of top publications from Google Scholar from

https://scholar.google.com/citations?view_op=top_venues&hl=en

i) Rank

ii) Publication

iii) h5-index

iv) h5-median

In [198]:
url="https://scholar.google.com/citations?view_op=top_venues&hl=en"
page_10=requests.get(url)
page_10

In [199]:
soup=BeautifulSoup(page_10.content)

In [200]:
Rank=[]
for i in soup.find_all("td",class_="gsc_mvt_p"):
    Rank.append(i.text)

In [201]:
Publication=[]
for i in soup.find_all("td",class_="gsc_mvt_t"):
    Publication.append(i.text)

In [202]:
h5_index=[]
for i in soup.find_all("a",class_="gs_ibl gsc_mp_anchor"):
    h5_index.append(i.text)

In [203]:
h5_median=[]
for i in soup.find_all("span",class_="gs_ibl gsc_mp_anchor"):
    h5_median.append(i.text)

In [205]:
Top_publications=pd.DataFrame({})
Top_publications["Rank"]=Rank
Top_publications["Publication"]=Publication
Top_publications["H5 Index"]=h5_index
Top_publications["H5 Median"]=h5_median
Top_publications

    Rank                                        Publication H5 Index H5 Median
0     1.                                             Nature      444       667
1     2.                The New England Journal of Medicine      432       780
2     3.                                            Science      401       614
3     4.  IEEE/CVF Conference on Computer Vision and Pat...      389       627
4     5.                                         The Lancet      354       635
..   ...                                                ...      ...       ...
95   96.                       Journal of Business Research      145       233
96   97.                                   Molecular Cancer      145       209
97   98.                                            Sensors      145       201
98   99.                              Nature Climate Change      144       228
99  100.                    IEEE Internet of Things Journal      144       212

[100 rows x 4 columns]

In [ ]:
----------------------------------------------------