# WEB SCRAPING – ASSIGNMENT 2

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location.

In [1]:

get_ipython().system('pip install selenium')

Collecting selenium
  Downloading selenium-4.4.2-py3-none-any.whl (985 kB)
Collecting trio~=0.17
  Downloading trio-0.21.0-py3-none-any.whl (358 kB)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\ajita\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: certifi~=2021.10.8 in c:\users\ajita\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.9.2-py3-none-any.whl (16 kB)
Requirement already satisfied: sniffio in c:\users\ajita\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\ajita\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Collecting outcome
  Downloading outcome-1.2.0-py2.py3-none-any.whl (9.7 kB)
Requirement already satisfied: sortedcontainers in c:\users\ajita\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\ajita\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\ajita\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: idna in c:\users\ajita\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: pycparser in c:\users\ajita\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Collecting wsproto>=0.14
  Downloading wsproto-1.1.0-py3-none-any.whl (24 kB)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\ajita\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Collecting h11<1,>=0.9.0
  Downloading h11-0.13.0-py3-none-any.whl (58 kB)
Installing collected packages: outcome, h11, wsproto, trio, trio-websocket, selenium
Successfully installed h11-0.13.0 outcome-1.2.0 selenium-4.4.2 trio-0.21.0 trio-websocket-0.9.2 wsproto-1.1.0

In [32]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [33]:
driver=webdriver.Chrome(r"C:\Users\ajita\Downloads\chromedriver_win32\chromedriver.exe")

In [34]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [35]:
driver.get("https://www.naukri.com/")

In [36]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [37]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [38]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [39]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [40]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [41]:
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [42]:
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
  company=i.text
  company_name.append(company)

In [43]:

experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [44]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [45]:
df=pd.DataFrame({'Job Title':job_title,'Job Location':job_location,'Company Name':company_name,'Experience Required':experience_required})
df

,Job Title,Job Location,Company Name,Experience Required
0,Business & Data Analyst- Assistant Manager,"Bangalore/Bengaluru, Hyderabad/Secunderabad",State Street,1-3 Yrs
1,Senior Data Analyst,Bangalore/Bengaluru(Old Madras Road),KrazyBee,3-6 Yrs
2,Senior Data Analyst,Bangalore/Bengaluru,Qualitest India Private Limited,5-8 Yrs
3,Sr. Data Analyst,"Bangalore/Bengaluru, Pune",Global Indian School Education Services,6-11 Yrs
4,Sr Clinical Data Analyst,Bangalore/Bengaluru,LabCorp,2-5 Yrs
5,Master Data Management Business Analyst,Bangalore/Bengaluru,Accenture,6-8 Yrs
6,Intern Data Analyst,Bangalore/Bengaluru,FullStackTechies,0-1 Yrs
7,Data Analyst - Python/Artificial Intelligence,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",iMindYourBusiness,0-2 Yrs
8,Asst Clinical Data Analyst,Bangalore/Bengaluru,LabCorp,1-3 Yrs
9,Lead Data Analyst,Bangalore/Bengaluru,McAfee,5-9 Yrs

# # Q2. Python program to scrape data for “Data Scientist” Job position in “Bangalore” location

In [46]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [47]:
driver.get("https://www.naukri.com/")

In [48]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [49]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [50]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [51]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [52]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [53]:
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [54]:
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [55]:
experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [56]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [57]:
df=pd.DataFrame({'Job Title':job_title,'Job Location':job_location,'Company Name':company_name,'Experience Required':experience_required})
df

,Job Title,Job Location,Company Name,Experience Required
0,Lead ML Scientist,"Bangalore/Bengaluru, Mumbai",Fractal Analytics,6-10 Yrs
1,Senior Manager - EmTech - Machine Learning - P&T,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",PwC,5-12 Yrs
2,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,6-8 Yrs
3,Data scientist _Tata Consultancy Services(Tcs),"Bangalore/Bengaluru, Kochi/Cochin, Indore, New...",TATA CONSULTANCY SERVICES (TCS),9-14 Yrs
4,Job||Job Opening For AI Technologist - Data Sc...,"Bangalore/Bengaluru, New Delhi, Hyderabad/Secu...",Wipro,5-10 Yrs
5,Hiring For DATA Scientist @ NTT DATA Business ...,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",NTT DATA Business Solutions Private Limited,4-9 Yrs
6,Tcs Hiring For Data Scientist,"Bangalore/Bengaluru, Chennai, Mumbai (All Areas)",TATA CONSULTANCY SERVICES (TCS),3-8 Yrs
7,Urgent Job Opening For AI Practitioner - Data ...,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ...",Wipro,11-20 Yrs
8,Data Scientist Lead_Tata Consultancy Services(...,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",TATA CONSULTANCY SERVICES (TCS),8-12 Yrs
9,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech,5-9 Yrs

# # Q3. Python Program to Scrape Loacation and Salary Filter

In [67]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [68]:
driver.get("https://www.naukri.com/")

In [69]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [70]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
location.send_keys('Delhi')

In [71]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [72]:
salary=driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[2]/label/p')
salary.click()

In [73]:

job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [74]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [75]:
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [76]:

location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [77]:
experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [78]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [79]:
df=pd.DataFrame({'Job Title':job_title,'Job Location':job_location,'Company Name':company_name,'Experience Required':experience_required})
df

,Job Title,Job Location,Company Name,Experience Required
0,Job||Job Opening For AI Technologist - Data Sc...,"New Delhi, Hyderabad/Secunderabad, Pune, Chenn...",Wipro,5-10 Yrs
1,Data Scientist - Noida/Bangalore,"Noida, Bangalore/Bengaluru",EXL,5-10 Yrs
2,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
3,Data Scientist,Gurgaon/Gurugram,Optum,2-7 Yrs
4,Data Scientist - Predictive Analytics,"Noida, Mumbai, Chandigarh, Hyderabad/Secundera...",Confidential,1-6 Yrs
5,Chat-bot Developer / Data Scientist,"Mumbai, New Delhi, Bangalore/Bengaluru\n(WFH d...",Big Seo Buzz,2-7 Yrs
6,Data Scientist / Chat-bot Developer,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",Big Seo Buzz,3-7 Yrs
7,Data Scientist - Engine Algorithm,"Kolkata, Mumbai, Hyderabad/Secunderabad, Luckn...",Primo Hiring,1-3 Yrs
8,Data Scientist For Healthcare Product team,"Chennai, Bangalore/Bengaluru, Delhi / NCR",SECUREKLOUD TECHNOLOGIES,2-7 Yrs
9,data science analyst,Bangalore/Bengaluru,CRED,1-3 Yrs


Q4. Data of first 100 sunglasses listings on flipkart.com

In [80]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [81]:
driver.get("http://www.flipkart.com/")

In [82]:
cross=driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button")
cross.click()

In [83]:
product=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
product.send_keys('sunglasses')

In [84]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [85]:
brand=[]
price=[]
product_description=[]

In [86]:
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags[0:100]:
    bd=i.text
    brand.append(bd)

In [87]:
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[0:100]:
    PR=i.text
    price.append(PR)

In [88]:
df=pd.DataFrame({'Brand':brand,"Price":price})

# Q5. Scrape 100 reviews data from flipkart.com for iphone11 phone

In [101]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [102]:
driver.get("http://www.flipkart.com/")

In [103]:
cross=driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button")
cross.click()

In [104]:
product=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
product.send_keys('iphone11')

In [105]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [106]:
product=driver.find_element(By.CLASS_NAME,"_4rR01T")
product.click()

In [107]:
rating=[]
review_summary=[]
full_review=[]

In [108]:
rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags[0:5]:
    RA=i.text
    rating.append(RA)

In [109]:
review_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in review_tags[0:5]:
    RE=i.text
    review_summary.append(RE)

In [110]:
reviewfull_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in reviewfull_tags[0:5]:
    RS=i.text
    full_review.append(RS)

In [111]:
print(len(rating), len(review_summary),len(full_review))

0 0 0

In [112]:
df=pd.DataFrame({'Rating':rating,'Review Summary':review_summary,'Full Review':full_review})
df

Empty DataFrame
Columns: [Rating, Review Summary, Full Review]
Index: []

# Q6. Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers”

In [159]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [160]:
driver.get("https://www.flipkart.com/")

In [161]:

cross=driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button")
cross.click()

In [162]:
product=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
product.send_keys('Sneakers')

In [163]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [164]:
brand=[]
price=[]
product_description=[]

In [165]:
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags[0:100]:
    bd=i.text
    brand.append(bd)

In [166]:
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[0:100]:
    PR=i.text
    price.append(PR)

In [167]:
product_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa _2-ICcC"]')
for i in product_tags[0:100]:
    PD=i.text
    product_description.append(PD)

In [168]:
print(len(brand),len(price),len(product_description))

40 40 5

In [ ]:
df=pd.DataFrame({'Brand':brand,"Price":price, "Product Description":product_description})
df

# Q7. Scraping the first 100 shoes data

In [149]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [150]:
driver.get("https://www.myntra.com/shoes")

In [151]:
price=driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label")
price.click()

In [152]:
colour=driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/span[1]")
colour.click()

In [153]:
brand=[]
price=[]
product_description=[]

In [154]:
brand_tags=driver.find_elements(By.XPATH,'//h3[@class="product-brand"]')
for i in brand_tags[0:100]:
    bd=i.text
    brand.append(bd)

In [155]:
price_tags=driver.find_elements(By.XPATH,'//div[@class="product-price"]')
for i in price_tags[0:100]:
    PR=i.text
    price.append(PR)

In [156]:
product_tags=driver.find_elements(By.XPATH,'//h4[@class="product-product"]')
for i in product_tags[0:100]:
    PD=i.text
    product_description.append(PD)

In [157]:
print(len(brand),len(price),len(product_description))

50 50 50

In [158]:
df=pd.DataFrame({'Brand':brand,'Price':price,'Product Description':product_description})
df

,Brand,Price,Product Description
0,Nike,Rs. 7465Rs. 8295(10% OFF),Men ZOOM WINFLO8 Running Shoes
1,Skechers,Rs. 7199Rs. 8999(20% OFF),Men Max Cushioning Running
2,Nike,Rs. 11895Rs. 13995(15% OFF),Men React Infinity 3 Running
3,Nike,Rs. 10795,Men Colourblocked Sneakers
4,Skechers,Rs. 7199Rs. 8999(20% OFF),Men Max Cushioning Running
5,Puma,Rs. 8999,Women UltraRide Running Shoes
6,ADIDAS Originals,Rs. 9899Rs. 10999(10% OFF),Men Niteball II Sneakers
7,Nike,Rs. 12795,Men JORDAN LOW Basketball Shoe
8,Nike,Rs. 8005Rs. 8895(10% OFF),Men SRG 3 FK Training Shoes
9,Puma,Rs. 9749Rs. 12999(25% OFF),Eternity Nitro Running Shoes
10,Nike,Rs. 7915Rs. 8795(10% OFF),Air Max Axis Sneakers
11,ADIDAS,Rs. 6719Rs. 13999(52% OFF),Women X9000 H.RDY Running
12,ADIDAS,Rs. 8499Rs. 9999(15% OFF),Men Defiant Generation Tennis
13,Hush Puppies,Rs. 7649Rs. 8999(15% OFF),Men Solid Leather Formal Slip-Ons
14,ADIDAS,Rs. 11999Rs. 14999(20% OFF),Men Solar Glide 4 ST Running
15,Puma,Rs. 6749Rs. 8999(25% OFF),Unisex Wild Rider Sneakers
16,Nike,Rs. 7495,Men Running Shoes
17,ADIDAS,Rs. 9999,Men Supernova 2 Running Shoes
18,Skechers,Rs. 7124Rs. 9499(25% OFF),Men ENIGMA Running Shoes
19,UNDER ARMOUR,Rs. 10999,Unisex Curry Basketball Shoes
20,Nike,Rs. 7465Rs. 8295(10% OFF),Women Running Shoes
21,Nike,Rs. 8295,Unisex Lebron V Basketball
22,Hush Puppies,Rs. 8499Rs. 9999(15% OFF),Men Solid Leather Formal Slip-Ons
23,ADIDAS,Rs. 7999,Women Eastrail 2 Hiking Shoes
24,Puma,Rs. 12999,Men M Nitro Running Shoess
25,Puma,Rs. 9999,Women Liberate NITRO Running
26,Nike,Rs. 7465Rs. 8295(10% OFF),Men Air Max Sneakers
27,Puma,Rs. 9999,Electrify Nitro Running Shoes
28,ADIDAS,Rs. 9999,Women Supernova Running Shoes
29,Nike,Rs. 10495,Men REACT MILER 3 Running Shoe
30,ASICS,Rs. 8399Rs. 13999(40% OFF),Men GEL-Quantum 360 6 Sports
31,ADIDAS Originals,Rs. 11999,Men Solid Oznova Sneakers
32,Nike,Rs. 6795,Women Air Max Bella Training
33,UNDER ARMOUR,Rs. 9999,Men HOVR Sonic SE Running Shoe
34,UNDER ARMOUR,Rs. 6999,Men Lockdown 5 Basketball
35,Puma,Rs. 10999,Men Velocity Nitro 2 Running
36,PUMA Hoops,Rs. 8249Rs. 10999(25% OFF),Fives Blaze Court Basketball
37,Puma,Rs. 6999,Women Enlighten Shoes
38,Hush Puppies,Rs. 7999Rs. 9999(20% OFF),Men Solid Formal Slip-Ons
39,Nike,Rs. 8725Rs. 9695(10% OFF),Men FREE RUN 2 Sneakers
40,ADIDAS Originals,Rs. 11899Rs. 13999(15% OFF),Men Woven NMD_31 Sneakers
41,Puma,Rs. 7199Rs. 8999(20% OFF),Unisex Eliminate Pro II Shoes
42,ROSSO BRUNELLO,Rs. 12999,Men Printed Leather Monks
43,Tommy Hilfiger,Rs. 6799Rs. 7999(15% OFF),Men Sneakers
44,ADIDAS Originals,Rs. 11049Rs. 12999(15% OFF),Men Ozrah Leather Sneakers
45,ADIDAS,Rs. 10199Rs. 11999(15% OFF),Men Adizero Adios 7 Running
46,Puma,Rs. 9749Rs. 12999(25% OFF),Women Eternity NITRO Shoes
47,Puma,Rs. 7199Rs. 11999(40% OFF),Men KING Top Football Shoes
48,ADIDAS,Rs. 12999,Men Dropset Training Shoes
49,GABICCI,Rs. 7450,Men Textured Leather Loafers

# Q8. Scrape first 10 laptops data.

In [192]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [193]:
driver.get("https://www.amazon.in/")

In [194]:
product=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
product.send_keys('Laptops')

In [195]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div")
search.click()

In [196]:
CPU=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[14]/span/a/span")
CPU.click()

In [197]:
title=[]
rating=[]
price=[]

In [198]:
title_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title_tags[0:10]:
    tt=i.text
    title.append(tt)

In [199]:
price_tags=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tags[0:10]:
    PR=i.text
    price.append(PR)

In [200]:
rating_tags=driver.find_elements(By.XPATH,'//a[@class="a-popover-trigger a-declarative"]//span')
for i in rating_tags[0:10]:
    RA=i.text
    rating.append(RA)

In [201]:
print(len(rating), len(title),len(price))

10 10 10

In [202]:
df=pd.DataFrame({'Rating':rating,'Title':title,'Price':price})
df

  Rating                                              Title   Price
0         Microsoft Surface GO 3 8VA-00013 10.5" (26.67 ...  49,936
1         Acer Extensa 15 Thin & Light Intel Processor P...  24,999
2         Dell Inspiron 3521 Laptop, Intel PQC-N5030, Wi...  32,690
3         Acer Travelmate Intel® Pentium® Gold 7505 Proc...  24,490
4         ASUS VivoBook 14 (2021), 14-inch (35.56 cm) HD...  31,990
5         Acer Aspire 3 Laptop (Made in India) A314-35 3...  26,490
6         HP 15 Intel Pentium Gold 6405U Processor Entry...  28,990
7         Microsoft Surface GO 2 STQ-00013 10.1" (26.54 ...  31,805
8         Acer Travelmate Business Laptop Intel Pentium ...  29,990
9         ASUS X515MA-EJ101T PQC-N5030 Intel Pentium N50...  59,990

# Q9. Python program to scrape the salary data for Data Scientist designation.

In [203]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [204]:
driver.get("https://www.ambitionbox.com/")

In [205]:
jobs=driver.find_element(By.XPATH,"/html/body/div[1]/nav[2]/div/ul/li[5]/a")
jobs.click()

In [206]:
designation=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")
designation.send_keys('Data Scientist')

In [207]:
search=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button")
search.click()

In [208]:
select=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/i")
select.click()

In [209]:
location=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input")
location.send_keys('Noida')

In [210]:
ND=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label")
ND.click()

In [211]:
job_title=[]
company_name=[]

In [212]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title noclick"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [213]:
company_tags=driver.find_elements(By.XPATH,'//div[@class="company-info"]')
for i in company_tags[0:10]:
  company=i.text
  company_name.append(company)

In [214]:
print(len(job_title),len(company_name))

10 10

In [215]:
df=pd.DataFrame({'Job Title':job_title,'Company Name':company_name})
df

,Job Title,Company Name
0,Hiring Data Scientist #productbasecompany #CBRE,CBRE South Asia Pvt Ltd\n · \n4.3\nbased on 2....
1,Hiring For Genpact-Data Scientist- Forecasting...,CBRE South Asia Pvt Ltd\n4.3\n(2.3k Reviews)
2,Genpact - Data Scientist - Forecasting/Python/...,GENPACT India Private Limited\n4.0\n(19.9k Rev...
3,Data Scientist,Genpact\n4.0\n(19.9k Reviews)
4,Data Scientist,Ericsson India Global Services Pvt. Ltd.\n4.3\...
5,Data Scientist,GENPACT India Private Limited\n4.0\n(19.9k Rev...
6,Associate Manager - Data Scientist,Optum Global Solutions (India) Private Limited...
7,Data Scientist,Optum Global Solutions (India) Private Limited...
8,Data Scientist,Ericsson India Global Services Pvt. Ltd.\n4.3\...
9,Data Scientist - Noida/Bangalore,SOPRA STERIA INDIA LIMITED\n4.2\n(1.2k Reviews)

# Q10.python program to scrape the salary data for Data Scientist designation. You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.

In [216]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [217]:
driver.get("https://www.ambitionbox.com/")

In [218]:
Select=driver.find_element(By.XPATH,"/html/body/div[1]/nav[2]/div/ul/li[3]/a")
Select.click()

In [219]:
bsalary=driver.find_element(By.XPATH,"/html/body/div[1]/nav[2]/div/ul/li[3]/div/ul/li[1]/div")
bsalary.click()

In [220]:
designation=driver.find_element(By.XPATH,"/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input")
designation.send_keys('Data Scientist')

In [221]:
dclick=driver.find_element(By.XPATH,"/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]")
dclick.click()

In [222]:
Experience_Required=[]
company_name=[]
Total_Salary=[]
Average=[]
Minimum=[]
Maximum=[]

In [223]:
experience_tags=driver.find_elements(By.CLASS_NAME,'sbold-list-header')
for i in title_tags[0:10]:
    exp=i.text
    Experience_Required.append(exp)

In [224]:
len(Experience_Required)

10

In [225]:
company_tags=driver.find_elements(By.XPATH,'//div[@class="company-info"]//a')
for i in company_tags[0:10]:
  company=i.text
  company_name.append(company)

In [226]:
avg_tags=driver.find_elements(By.XPATH,'//p[@class="averageCtc"]')
for i in avg_tags[0:10]:
  avg=i.text
  Average.append(avg)

In [227]:
TS_tags=driver.find_elements(By.XPATH,'//span[@class="datapoints"]')
for i in TS_tags[0:10]:
  TS=i.text
  Total_Salary.append(TS)

In [228]:
min_tags=driver.find_elements(By.XPATH,'//div[@class="value body-medium"]')
for i in min_tags[0:10]:
  min=i.text
  Minimum.append(min)

In [229]:
max_tags=driver.find_elements(By.XPATH,'//div[@class="value body-medium"]')
for i in max_tags[0:10]:
  max=i.text
  Maximum.append(max)

In [230]:
print(len(Experience_Required),len(company_name),len(Total_Salary),len(Minimum),len(Maximum))

10 10 10 10 10

In [231]:
df=pd.DataFrame({'Company Name':company_name,"Total Salary Record":Total_Salary,"Maximum Salary":Maximum, "Minimum Salary":Minimum})
df

,Company Name,Total Salary Record,Maximum Salary,Minimum Salary
0,Walmart\nData Scientist Salary,(based on 22 salaries),₹ 25.0L,₹ 25.0L
1,Ab Inbev\nData Scientist Salary,(based on 53 salaries),₹ 45.0L,₹ 45.0L
2,Optum\nData Scientist Salary,(based on 48 salaries),₹ 15.0L,₹ 15.0L
3,ZS\nData Scientist Salary,(based on 33 salaries),₹ 25.5L,₹ 25.5L
4,Fractal Analytics\nData Scientist Salary,(based on 109 salaries),₹ 11.0L,₹ 11.0L
5,Tiger Analytics\nData Scientist Salary,(based on 65 salaries),₹ 22.6L,₹ 22.6L
6,Legato Health Technologies\nData Scientist Salary,(based on 11 salaries),₹ 11.0L,₹ 11.0L
7,Tredence\nData Scientist Salary,(based on 12 salaries),₹ 22.0L,₹ 22.0L
8,UnitedHealth\nData Scientist Salary,(based on 91 salaries),₹ 9.0L,₹ 9.0L
9,Ford Motor\nData Scientist Salary,(based on 21 salaries),₹ 23.0L,₹ 23.0L